### Variables and Data Types

#### Variables hold data for the program

#### Python automatically assigns data types when you assign values (dynamic typing).

##### Press (Shift + Enter) to execute the cell

In [96]:
var_int = 25
var_flt = 25.49
var_str = "Python"
var_bol = True

#Check the type of variable
type(var_str)

print("Hello World","This is Python class", 500, True)
print("Type information for this variable is", type(var_bol))

#f-strings (formatted string literals) are modern and efficient way to include 
# variables or expressions directly inside a string

print(f"Type information for this variable is {var_str}")

print(var_int, var_flt, var_str, var_bol)

print("Type information of each of the variables")
print("Type of variable var_int is", type(var_int))
print("Type of variable var_flt is", type(var_flt))
print("Type of variable var_str is", type(var_str))
print("Type of variable var_bol is", type(var_bol))

Hello World This is Python class 500 True
Type information for this variable is <class 'bool'>
Type information for this variable is Python
25 25.49 Python True
Type information of each of the variables
Type of variable var_int is <class 'int'>
Type of variable var_flt is <class 'float'>
Type of variable var_str is <class 'str'>
Type of variable var_bol is <class 'bool'>

#### More Data Types

#### Lists are collection of mutable items which means after variable creation you can (add, remove, update) elements

In [99]:
list_colors = ["red", "green", "blue","green"]
print("Type of the list_colors is as follows: ", type(list_colors))
print(list_colors)

Type of the list_colors is as follows:  <class 'list'>
['red', 'green', 'blue', 'green']

#### Tuples are collection of immutable items â€” you cannot modify, add, or remove elements after creation.

In [101]:
tuple_datapoints = (10, 20, 20) 
print("Type of the tuple_datapoints is as follows: ", type(tuple_datapoints))
print(tuple_datapoints)

Type of the tuple_datapoints is as follows:  <class 'tuple'>
(10, 20, 20)

#### A dictionary in Python is a collection of key-value pairs. Each key acts as a unique identifier, and each value stores the data related to that key

In [103]:
sample_dict = {
    "key1": "Java",
    "key2": "Python",
    "key3": "React",
    "key4": "Angular"
}
print(sample_dict)
print(type(sample_dict))

{'key1': 'Java', 'key2': 'Python', 'key3': 'React', 'key4': 'Angular'}
<class 'dict'>

#### A set is an unordered collection of unique elements.

In [105]:
fruits = {"apple", "banana", "mango", "apple"}
print(fruits)

{'mango', 'banana', 'apple'}

In [106]:
set2 = set(["apple", "banana", "cherry"])
print(set2)

{'banana', 'cherry', 'apple'}

#### Type Conversion

##### Conversion of int to float

In [109]:
# x = 10
# y = float(x)
# print(y)

price = 10
print(type(price), price)

#Converts int to float

price = float(price)
print(type(price), price)

<class 'int'> 10
<class 'float'> 10.0

##### Conversion of float to int

In [111]:
pi = 3.14
print(type(pi), pi)

#Converts float to integer
num = int(pi)
print(num)

<class 'float'> 3.14
3

##### Conversion of string to int

In [113]:
price = "100"
print(int(price))

100

##### Conversion of int to string

In [115]:
age = 37
print(str(age))

37

#### Basic Operations

In [117]:
a = 11
b = 2

"""
{divisor} 2 ) 11 ( 5 {Quotient}
              10
-----------------------------------
               1
"""

print("Addition", a + b)
print("Substraction", a - b)
print("Multiplication", a * b)
print("Division", a / b)
print("Floor Division", a // b) 
print("Modulus Operator", a % b) 
print("Exponential", a ** b)

Addition 13
Substraction 9
Multiplication 22
Division 5.5
Floor Division 5
Modulus Operator 1
Exponential 121

#### CRUD operations for the List

In [119]:
# Create a list
#        [ 0,         1,          2]
fruits = ["apple", "banana", "cherry"]
print("Original list:", fruits)

# Modify element
fruits[1] = "mango"
print("After modification:", fruits)

# Add element
fruits.append("orange")
print("After adding element:", fruits)

# Remove element
fruits.remove("apple")
print("After removing element:", fruits)

Original list: ['apple', 'banana', 'cherry']
After modification: ['apple', 'mango', 'cherry']
After adding element: ['apple', 'mango', 'cherry', 'orange']
After removing element: ['mango', 'cherry', 'orange']

#### CRUD operations for the Dictionary

In [121]:
# Add new key-value pairs
#<dictinary_name>[<key>] = <value>

sample_dict["key5"] = "NodeJS"
sample_dict["key6"] = "Django"

print("After New Entries:", sample_dict)

After New Entries: {'key1': 'Java', 'key2': 'Python', 'key3': 'React', 'key4': 'Angular', 'key5': 'NodeJS', 'key6': 'Django'}

In [122]:
# Access individual value
# Dictionary-variable["your-key"]
print(sample_dict["key2"])

# Using get() to avoid errors if key doesn't exist
print(sample_dict.get("key3"))
print(sample_dict.get("key10", "Not Found")) 

# Loop through dictionary
print("\nAll keys and values:")
for key, value in sample_dict.items():
    print(key, ":", value)

Python
React
Not Found

All keys and values:
key1 : Java
key2 : Python
key3 : React
key4 : Angular
key5 : NodeJS
key6 : Django

In [123]:
# Update a single key
sample_dict["key1"] = "JavaScript"

# Update multiple keys
#sample_dict.update({"key2": "Python 3", "key4": "Angular 17"})

sample_dict.update({"key2": "Python 3", "key4": "Angular 17", "key7": "Angular 77"})

print("After UPDATE:", sample_dict)

After UPDATE: {'key1': 'JavaScript', 'key2': 'Python 3', 'key3': 'React', 'key4': 'Angular 17', 'key5': 'NodeJS', 'key6': 'Django'}

In [124]:
# Delete specific key
del sample_dict["key5"]
print("After deleting key5:", sample_dict)

# Using pop() removes and returns the value
removed_value = sample_dict.pop("key6")
print("Removed:", removed_value)
print("After POP:", sample_dict)

# Remove last inserted item (Python 3.7+)
sample_dict.popitem()
print("After popitem():", sample_dict)

# Clear all items
sample_dict.clear()
print("After CLEAR:", sample_dict)

After deleting key5: {'key1': 'JavaScript', 'key2': 'Python 3', 'key3': 'React', 'key4': 'Angular 17', 'key6': 'Django'}
Removed: Django
After POP: {'key1': 'JavaScript', 'key2': 'Python 3', 'key3': 'React', 'key4': 'Angular 17'}
After popitem(): {'key1': 'JavaScript', 'key2': 'Python 3', 'key3': 'React'}
After CLEAR: {}

#### Control Flow

##### If Else Conditions

In [127]:
test_value = 20
if test_value <= 10:
    print("Value is less than 10")
elif test_value >=10 and test_value < 20:
    print("Value is greater than 10 and less than 20")
else:
    print("Values greater than 20")

Values greater than 20