### Variables and Data Types

#### Variables hold data for the program

#### Python automatically assigns data types when you assign values (dynamic typing).

##### Press (Shift + Enter) to execute the cell

In [5]:
var_int = 25
var_flt = 25.49
var_str = "Python"
var_bol = True

#Check the type of variable
type(var_str)

print("Hello World","This is Python class", 500, True)
print("Type information for this variable is", type(var_bol))

#f-strings (formatted string literals) are modern and efficient way to include 
# variables or expressions directly inside a string

print(f"Type information for this variable is {var_str}")

print(var_int, var_flt, var_str, var_bol)

print("Type information of each of the variables")
print("Type of variable var_int is", type(var_int))
print("Type of variable var_flt is", type(var_flt))
print("Type of variable var_str is", type(var_str))
print("Type of variable var_bol is", type(var_bol))

Hello World This is Python class 500 True
Type information for this variable is <class 'bool'>
Type information for this variable is Python
25 25.49 Python True
Type information of each of the variables
Type of variable var_int is <class 'int'>
Type of variable var_flt is <class 'float'>
Type of variable var_str is <class 'str'>
Type of variable var_bol is <class 'bool'>

#### More Data Types

#### Lists are collection of mutable items which means after variable creation you can (add, remove, update) elements

In [8]:
list_colors = ["red", "green", "blue","green"]
print("Type of the list_colors is as follows: ", type(list_colors))
print(list_colors)

Type of the list_colors is as follows:  <class 'list'>
['red', 'green', 'blue', 'green']

#### Tuples are collection of immutable items â€” you cannot modify, add, or remove elements after creation.

In [10]:
tuple_datapoints = (10, 20, 20) 
print("Type of the tuple_datapoints is as follows: ", type(tuple_datapoints))
print(tuple_datapoints)

Type of the tuple_datapoints is as follows:  <class 'tuple'>
(10, 20, 20)

#### A dictionary in Python is a collection of key-value pairs. Each key acts as a unique identifier, and each value stores the data related to that key

In [12]:
sample_dict = {
    "key1": "Java",
    "key2": "Python",
    "key3": "React",
    "key4": "Angular"
}
print(sample_dict)
print(type(sample_dict))

{'key1': 'Java', 'key2': 'Python', 'key3': 'React', 'key4': 'Angular'}
<class 'dict'>

#### A set is an unordered collection of unique elements.

In [14]:
fruits = {"apple", "banana", "mango", "apple"}
print(fruits)

{'apple', 'banana', 'mango'}

In [15]:
set2 = set(["apple", "banana", "cherry"])
print(set2)

{'apple', 'banana', 'cherry'}

#### Type Conversion

##### Conversion of int to float

In [18]:
# x = 10
# y = float(x)
# print(y)

price = 10
print(type(price), price)

#Converts int to float

price = float(price)
print(type(price), price)

<class 'int'> 10
<class 'float'> 10.0

##### Conversion of float to int

In [20]:
pi = 3.14
print(type(pi), pi)

#Converts float to integer
num = int(pi)
print(num)

<class 'float'> 3.14
3

##### Conversion of string to int

In [22]:
price = "100"
print(int(price))

100

##### Conversion of int to string

In [24]:
age = 37
print(str(age))

37

#### Basic Operations

In [26]:
a = 11
b = 2

"""
{divisor} 2 ) 11 ( 5 {Quotient}
              10
-----------------------------------
               1
"""

print("Addition", a + b)
print("Substraction", a - b)
print("Multiplication", a * b)
print("Division", a / b)
print("Floor Division", a // b) 
print("Modulus Operator", a % b) 
print("Exponential", a ** b)

Addition 13
Substraction 9
Multiplication 22
Division 5.5
Floor Division 5
Modulus Operator 1
Exponential 121

#### CRUD operations for the List

In [28]:
# Create a list
#        [ 0,         1,          2]
fruits = ["apple", "banana", "cherry"]
print("Original list:", fruits)

# Modify element
fruits[1] = "mango"
print("After modification:", fruits)

# Add element
fruits.append("orange")
print("After adding element:", fruits)

# Remove element
fruits.remove("apple")
print("After removing element:", fruits)

Original list: ['apple', 'banana', 'cherry']
After modification: ['apple', 'mango', 'cherry']
After adding element: ['apple', 'mango', 'cherry', 'orange']
After removing element: ['mango', 'cherry', 'orange']

#### CRUD operations for the Dictionary

In [30]:
# Add new key-value pairs
#<dictinary_name>[<key>] = <value>

sample_dict["key5"] = "NodeJS"
sample_dict["key6"] = "Django"

print("After New Entries:", sample_dict)

After New Entries: {'key1': 'Java', 'key2': 'Python', 'key3': 'React', 'key4': 'Angular', 'key5': 'NodeJS', 'key6': 'Django'}

In [31]:
# Access individual value
# Dictionary-variable["your-key"]
print(sample_dict["key2"])

# Using get() to avoid errors if key doesn't exist
print(sample_dict.get("key3"))
print(sample_dict.get("key10", "Not Found")) 

# Loop through dictionary
print("\nAll keys and values:")
for key, value in sample_dict.items():
    print(key, ":", value)

Python
React
Not Found

All keys and values:
key1 : Java
key2 : Python
key3 : React
key4 : Angular
key5 : NodeJS
key6 : Django

In [32]:
# Update a single key
sample_dict["key1"] = "JavaScript"

# Update multiple keys
#sample_dict.update({"key2": "Python 3", "key4": "Angular 17"})

sample_dict.update({"key2": "Python 3", "key4": "Angular 17", "key7": "Angular 77"})

print("After UPDATE:", sample_dict)

After UPDATE: {'key1': 'JavaScript', 'key2': 'Python 3', 'key3': 'React', 'key4': 'Angular 17', 'key5': 'NodeJS', 'key6': 'Django', 'key7': 'Angular 77'}

In [33]:
# Delete specific key
del sample_dict["key5"]
print("After deleting key5:", sample_dict)

# Using pop() removes and returns the value
removed_value = sample_dict.pop("key6")
print("Removed:", removed_value)
print("After POP:", sample_dict)

# Remove last inserted item (Python 3.7+)
sample_dict.popitem()
print("After popitem():", sample_dict)

# Clear all items
sample_dict.clear()
print("After CLEAR:", sample_dict)

After deleting key5: {'key1': 'JavaScript', 'key2': 'Python 3', 'key3': 'React', 'key4': 'Angular 17', 'key6': 'Django', 'key7': 'Angular 77'}
Removed: Django
After POP: {'key1': 'JavaScript', 'key2': 'Python 3', 'key3': 'React', 'key4': 'Angular 17', 'key7': 'Angular 77'}
After popitem(): {'key1': 'JavaScript', 'key2': 'Python 3', 'key3': 'React', 'key4': 'Angular 17'}
After CLEAR: {}

#### Control Flow

##### If Else Conditions

In [36]:
sample_val = 35
if sample_val <= 25:
    print(sample_val, "is less than or equal to 25")
elif sample_val > 25 and sample_val <= 35:    # conditions: and or
    print(sample_val, "is greater than 25 and less that or equal to 35")
else:
    print("Values are greater than 35")

35 is greater than 25 and less that or equal to 35

##### For Loop

In [38]:
fruits = ["apple","orange","banana"]
for fruit in fruits:
    print(fruit)

apple
orange
banana

In [39]:
for num in range(5):
    print(num)

0
1
2
3
4

In [40]:
for i in range(1, 10):
    if i <= 5:
        print("Continue Statement Executes", i)
        continue
    elif i > 5:
        print("Break Statement Executes", i)
        break

Continue Statement Executes 1
Continue Statement Executes 2
Continue Statement Executes 3
Continue Statement Executes 4
Continue Statement Executes 5
Break Statement Executes 6

##### Nested For Loops

In [42]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

##### Enumerate enumerate() is function adds counter to the iterable data types such as list, tuples strings etc

In [44]:
#colors = ["red", "green", "blue"]
colors = ("red", "green", "blue")
for index, color in enumerate(colors):
    print(index, color)

0 red
1 green
2 blue

In [45]:
student = {"key-name": "value-John", "key-age": 20}
for key, value in student.items():
    print(key, ":", value)

key-name : value-John
key-age : 20

##### While loop
###### A while loop keeps running while the condition is true

In [47]:
count = 1
while count <= 5:
    print(count)
    count += 1  #Equivalent count = count + 1

1
2
3
4
5